<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Grand Coffee</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
       <link rel="stylesheet" href="static/css/styles1.css">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="logo"><a href="index.html"><img src="static/images/logo.png"></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('services') }}">Services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      <!--header section end -->
    <main>
        <section id="menu">
            <h2>Menu</h2>
            <div style="margin: 20px 10; text-align: center;">
            <!-- Category Dropdown -->
            <label for="category" >Category:</label>
            <select id="category" onchange="filterMenu()">
                <option value="flavors" {% if category == 'flavors' %} selected {% endif %}>Flavors</option>
                <option value="coffee blends" {% if category == 'coffee blends' %} selected {% endif %}>Coffee Blends</option>
            </select>
            </div>
            <div class="menu-items">
                {% for item in items %}
                <div class="coffee-item">
                    <h3>{{ item.name }}</h3>
                    <p>Price: ${{ item.price }}</p>
                    <form action="/add_to_cart" method="post">
                        <label for="{{ item.name|lower|replace(' ', '-') }}-servings">Servings:</label>
                        <select name="servings" id="{{ item.name|lower|replace(' ', '-') }}-servings">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type="hidden" name="item_name" value="{{ item.name }}">
                        <input type="hidden" name="price" value="{{ item.price }}">
                        <input type="hidden" name="current_category" value="{{ category }}">
                        <button type="submit">Add to Bag</button>
                    </form>

                </div>
                {% endfor %}
            </div>
        </section>

        <section id="bag">
            <h2>Your Bag</h2>
            <ul>
                {% for item in cart_items %}
                <li>{{ item.servings }} x {{ item.item_name }} - ${{ item.price * item.servings }}</li>
                {% endfor %}
            </ul>
            <div>
                <span id="total-price">Total: ${{ total_price }}</span>
                <form action="/pay" method="post" style="display: inline;">
                    <button type="submit" class="pay-button">Pay Now</button>
                </form>
            </div>
        </section>
    </main>
    <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">About</h3>
                  <p class="footer_text">Welcome to GrandCoffee, where we deliver exceptional services tailored to your needs. Explore our website to learn more about what we offer and how we can assist you</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Pages</h3>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About Us</a></li>
                        <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                        <li><a href="{{ url_for('services') }}">Services</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Useful Link</h1>
                  <div class="dummy_text">
                     <ul>
                         <li><a href="{{ url_for('menu') }}">Our Menu</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Contact Us</h1>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : IGIT Sarang Street</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +91 7978732790</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : mrutyunjayabapun@gmail.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2025 All Rights Reserved. Design by <a href=" https://ashadeepsahoo.my.canva.site/ashadeep-sahoo">Nishan</a></p>
         </div>
      </div>
      <!-- copyright section end -->
   <!-- Add these scripts just before </body> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    function filterMenu() {
        const selectedCategory = document.getElementById('category').value;
        window.location.href = `/menu?category=${selectedCategory}`;
    }
    </script>
</body>
</html>
